<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <a href="/author">
                <li>All Aurthor</li>
            </a>
            <a href="/author/new">
                <li>New Aurthor</li>
            </a>
        </ul>
    </nav>
</header>